body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#392e82, #6b50a1);
  overflow: hidden;
  font-family: "Bebas Neue", serif;
  font-style: normal;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recipeCardContainer {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  width: 30%;
}
h1 {
  margin-top: 0;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 1%;
}
h3 {
  margin-top: 2%;
  font-weight: 100;
  font-size: 1.25rem;
  margin-bottom: 2%;
}
#recipeImgContainer img {
  width: 175px;
  height: 175px;
  border-radius: 10px;
  background-color: white;
  object-fit: cover;
}

p {
  font-size: 0.8rem;
}

#dropDownBtn {
  font-family: inherit;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  background-color: #9d4770;
  color: white;
  padding: 2px;
  box-shadow: 2px 2px #813e5e;
  transition: filter 0.12s ease-in-out 0.12s;
}

button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

#restartBtn {
  font-family: inherit;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  background-color: #37815b;
  color: white;
  padding: 2px;
  box-shadow: 2px 2px #39764c;
  transition: filter 0.12s ease-in-out 0.12s;
}

@media (min-width: 1600px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.25rem;
  }

  #recipeImgContainer img {
    width: 300px;
    height: 300px;
  }

  p {
    font-size: 1.5rem;
  }

  #dropDownBtn {
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px #813e5e;
  }

  #restartBtn {
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px #39764c;
  }
}
