body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#392e82, #6b50a1);
  overflow: hidden;
  font-family: "Bebas Neue", serif;
  font-style: normal;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipieCardContainer {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  width: 30%;
}
h1 {
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 1%;
}
h3 {
  margin-top: 2%;
  font-weight: 100;
  font-size: 1.25rem;
  margin-bottom: 2%;
}
#recipieImgContainer img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: white;
  object-fit: cover;
}

p {
  font-size: 0.6rem;
}

#dropDownBtn {
  font-family: inherit;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  background-color: #9d4770;
  color: white;
  padding: 2px;
  box-shadow: 2px 2px #813e5e;
}

button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

#restartBtn {
  font-family: inherit;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  background-color: #37815b;
  color: white;
  padding: 2px;
  box-shadow: 2px 2px #39764c;
}
